{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>
<body>
<form id="msform" method="post" action="/traitement-update/{{id}}/">
  {% csrf_token %}
  <fieldset>
    <h2 class="fs-title">Modification du capteur de la piece {{capteur.piece}}</h2>
    {{ form.as_ul }}
    <a href="/affiche-application"><input type="button" name="previous" class="previous action-button" value="🔙" /></a></li>
    <input type="submit" value="Modifier"\>
  </fieldset>
</form>
</body>
</html>
