<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form method="GET" action="/test">
    <label for="nom">Filtre nom capteur:</label><br>
    <input type="search" name="nom" placeholder="Entrez le nom du capteur"><br>
    <label for="id">Filtre ID capteur:</label><br>
    <input type="search" name="id" placeholder="Entrez l'ID du capteur"><br>
    <label for="date_min">Filtre date min capteur:</label><br>
    <input type="date" name="date_min" placeholder="Entrez la date minimal"><br>
    <label for="date_max">Filtre date max capteur:</label><br>
    <input type="date" name="date_max" placeholder="Entrez la date maximal"><br>


    <button type="submit">envoyer</button>
  </form>
</body>
</html>