<!DOCTYPE html>
<html>
<head>
    <title>Filtrage des données par capteur</title>
</head>
<body>
<a href="/">Accueil</a>
    <h1>Filtrage des données par capteur et date</h1>
<form method="GET" action="/filtrer-donnees/">
    <label for="nom-capteur">Nom du capteur :</label>
    <input type="text" id="nom-capteur" name="nom-capteur">

    <label for="date-debut">Date de début :</label>
    <input type="text" id="date-debut" name="date-debut">

    <label for="date-fin">Date de fin :</label>
    <input type="text" id="date-fin" name="date-fin">

    <button type="submit">Filtrer</button>
</form>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Température</th>
            </tr>
        </thead>
        <tbody>
            {% for donnee in donnees %}
                <tr>
                    <td>{{ donnee.date }}</td>
                    <td>{{ donnee.heure }}</td>
                    <td>{{ donnee.temperature }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

